@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url(https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80);
    padding: 100px; 
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    width: 800px;
    min-height: 800px;
    border: 7px solid #fff;
    margin: 0 auto;
    background: #fff;
}

.header {
    display: flex;
    height: 150px;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 80%;
    height: 100%;
    margin-right: 7px;
    background: url(https://images.unsplash.com/photo-1607799279861-4dd421887fb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) no-repeat center center / cover;
    color: #fff;
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
}

.text-title {
    position: absolute;
    z-index: 1;
}

.person {
    display: flex;
    width: 20%;
    height: 100%;
    background: url(/img/photo_2022-10-12_14-38-34.jpg) no-repeat center bottom / cover;
}

.nav ul {
    display: flex;
    background: rgb(201, 201, 201);
    margin: 10px 0;
}

.nav li a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-right: 1px solid rgb(126, 126, 126);
    transition: background 0.3s ease;
}

.nav li a:hover {
    background: rgb(150, 150, 150);
}

.content-wrapper {
    display: flex;
}

.content {
    width: 60%;
    padding: 20px;
    line-height: 150%;
}

.sidebar {
    width: 40%;
    height: 250px;
    padding: 20px;
    background: url(/img/photo_2022-10-12_14-38-34\ \(2\).jpg) no-repeat center center / cover;
    transition: 1s;
    border: 1px solid black;
}

.sidebar:hover {
    transform: scale(1.4);
}

.content-wrapper1 {
    display: flex;
}

.content1 {
    width: 60%;
    padding: 20px;
    line-height: 150%;
}

.sidebar1 {
    width: 40%;
    height: 250px;
    padding: 20px;
    background: url(/img/photo_2022-10-12_14-38-33.jpg) no-repeat center center / cover;
    transition: 1s;
    border: 1px solid black;
}

.sidebar1:hover {
    transform: scale(1.4);
}

.content-wrapper2 {
    display: flex;
}

.content2 {
    width: 100%;
    padding: 20px;
    line-height: 150%;
}

.links {
    margin: 5px;
}